<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guess-A-Number</title>
</head>
<body>
    <div class="wrapper">
        <header class="head">
            <h1>Guess the Number!</h1>
            <h2>Select Difficulty</h2>
        </header>
        <div class="form">
            <form action="/" method="post">
                <label for="easy">Easy 1-10</label>
                <input type="submit" name="difficulty" id="easy" value="Easy">
                <label for="medium">Medium 1-100</label>                
                <input type="submit" name="difficulty" id="medium" value="Medium">
                <label for="hard">Medium 1-500</label>                                
                <input type="submit" name="difficulty" id="hard" value="Hard">
            </form>
        </div>
    </div>
    
</body>
</html>