<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guess-A-Number</title>
</head>
<body>
    <div class="wrapper">
        <header class="head">
            <h1>Guess the Number!</h1>
        </header>
        <div class="form">
            <form action="/play" method="post">
                <input type="number" name="number" id="number">
                <button type="submit">Submit</button>
            </form>
        </div>
        <div id="result">
            {% if number %}
                You guessed {{ number }}, {{ content }}
            {% else %}
            {% endif %}
        </div>
    </div>
</body>
</html>